* {
  font-family: Sans-serif, "Helvetica Neue", Arial;
}

html {
    box-sizing: border-box;
    height: 100%;
}
body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    width: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#coverage-area {
    height: 100%;
    width: 100%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.list-item-danger {
    border-top: 1px solid rgba(255, 135, 129, 0.5) !important;
    border-right: 1px solid rgba(255, 135, 129, 0.5) !important;
    border-left: 1px solid rgba(255, 135, 129, 0.5) !important;
    background-color: rgba(255, 105, 97, 0.8) !important;
}

.list-item-success {
    border-top: 1px solid rgba(146, 228, 146, .5) !important;
    border-right: 1px solid rgba(146, 228, 146, 0.5) !important;
    border-left: 1px solid rgba(146, 228, 146, 0.5) !important;
    background-color: rgba(119, 221, 119, 0.8) !important;
}

.coverage {
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.coverage-header {}
.coverage-commit-message {
  text-overflow: ellipsis;
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
  display: inline-block;
}

ul.dropdown-menu.rbt-menu.dropdown-menu-justify {
  position: absolute;
}
